@charset "utf-8";
#container {
	width: 1290px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border-width: 0px;
	border-style: solid;
}
#first {
	float: left;
	height: 400px;
	width: 1290px;
	margin-right: 0px;
	margin-left: 0px;
	border-width: 0px;
	border-style: solid;
}
#second {
	float: left;
	height: 400px;
	width: 1290px;
	margin-right: 0px;
	margin-left: 0px;
	border-width: 0px;
	border-style: solid;
}
#third {
	float: left;
	height: 400px;
	width: 1290px;
	margin-right: 0px;
	margin-left: 0px;
	border-width: 0px;
	border-style: solid;
}
